<div class="dashboard col-12">
    <!-- breadcrumb2 -->
    <div class="breadcrumb2 mt-3 col col-12 col-xl-10">
        <div class="items">
            <a class="item" routerLink="/panel">
                <span class="title">داشبورد</span>
            </a>
            <a class="item" routerLink="/panel/users">
                <span class="title">کاربران</span>
            </a>
        </div>
    </div><!-- /breadcrumb2 -->
    <app-dashboard-card  class="col-xl-10 col-12"
            [items]="items"
    ></app-dashboard-card>
</div>
