<div class="dashboard col col-12">
	<div class="breadcrumb2 mt-3 col col-12 col-xl-10">
		<div class="items">
			<a class="item" routerLink="/panel">
				<span class="title">داشبورد</span>
			</a>
			<a class="item" routerLink="/panel/report">
				<span class="title">گزارشات</span>
			</a>
			<a class="item" routerLink="/panel/report/toBank">
				<span class="title">ارسالی به بانک</span>
			</a>
		</div>
	</div><!-- /breadcrumb2 -->
	<div class="headline-title col col-12 col-xl-10">
		ارسال به بانک
	</div>
	<mat-card class="col col-12 col-xl-10 mt-3">
		<mat-card-content>
			<form action="" [formGroup]="form">
				<mat-form-field class="me-3">
					<mat-label>ماه</mat-label>
					<input matInput formControlName="month">
					<mat-error>{{validate.numberValidate(form.get('month'),'ماه')}}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>سال</mat-label>
					<input matInput formControlName="year">
					<mat-error>{{validate.numberValidate(form.get('year'),'سال')}}</mat-error>
				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button color="accent" class="ms-3 mt-3" (click)="submit()">جستجو</button>
			<button mat-flat-button color="primary" class="ms-3 mt-3" (click)="print()">پرینت</button>
		</mat-card-actions>
	</mat-card>
	<div class="col col-12 col-xl-10 mt-3">
		<table mat-table [dataSource]="dataSource" id="my-table" class=" mat-elevation-z8" *ngIf="dataSource?.length">
			
			<ng-container matColumnDef="No">
				<th mat-header-cell *matHeaderCellDef> شماره </th>
				<td mat-cell *matCellDef="let element ;let i = index"> {{i+1 |persianNumbers}} </td>
			</ng-container>
			
			<ng-container matColumnDef="user">
				<th mat-header-cell *matHeaderCellDef> کاربر </th>
				<td mat-cell *matCellDef="let element"> {{element.user}} </td>
			</ng-container>
			
			<ng-container matColumnDef="personal_code">
				<th mat-header-cell *matHeaderCellDef> کدپرسنلی </th>
				<td mat-cell *matCellDef="let element"> {{element.personal_code | persianNumbers}} </td>
			</ng-container>
			
			<!--		<ng-container matColumnDef="bank_card">-->
			<!--			<th mat-header-cell *matHeaderCellDef> No. </th>-->
			<!--			<td mat-cell *matCellDef="let element"> {{element.bank_card}} </td>-->
			<!--		</ng-container>-->
			
			<ng-container matColumnDef="bank_account_number">
				<th mat-header-cell *matHeaderCellDef> شماره حساب </th>
				<td mat-cell *matCellDef="let element"> {{element.bank_account_number |persianNumbers}} </td>
			</ng-container>
			
			<ng-container matColumnDef="movement">
				<th mat-header-cell *matHeaderCellDef> انتقالی </th>
				<td mat-cell *matCellDef="let element"> {{element.different |persianpurrencypipe}} </td>
			</ng-container>
			
			<ng-container matColumnDef="salary">
				<th mat-header-cell *matHeaderCellDef> حقوق </th>
				<td mat-cell *matCellDef="let element"> {{element.mini |persianpurrencypipe}} </td>
			</ng-container>
			
			<ng-container matColumnDef="sum">
				<th mat-header-cell *matHeaderCellDef> مجموع </th>
				<td mat-cell *matCellDef="let element"> {{element.full |persianpurrencypipe}} </td>
			</ng-container>

			<ng-container matColumnDef="trust">
				<th mat-header-cell *matHeaderCellDef> اعتبار </th>
				<td mat-cell *matCellDef="let element">
					<mat-chip class="active-user" *ngIf="element.trust == true">
						معتبر
					</mat-chip>
					<mat-chip class="disable-user" *ngIf="element.trust == false">
						نامعتبر
					</mat-chip>
				</td>
			</ng-container>
			
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? toggleAllRows() : null"
								  [checked]="selection.hasValue() && isAllSelected()"
								  [indeterminate]="selection.hasValue() && !isAllSelected()"
								  [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()"
								  (change)="$event ? selection.toggle(row) : null"
								  [checked]="selection.isSelected(row)"
								  [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>
			
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
		</table>
	</div>
</div>