<div mat-dialog-content dir="rtl">
	<div class="personal-item">
		<mat-form-field class="col-5">
			<mat-label>نام:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>person</mat-icon>
<!--			<mat-hint>نام خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
		<mat-form-field class="col-5">
			<mat-label> نام خانوادگی:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>person</mat-icon>
<!--			<mat-hint>نام خانوادگی خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<div class="personal-item">
		<mat-form-field class=" col-5">
			<mat-label>شناسه ملی:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>assignment_ind</mat-icon>
<!--			<mat-hint>شناسه ملی خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
		<mat-form-field class=" col-5">
			<mat-label>کدپستی:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>person_pin</mat-icon>
<!--			<mat-hint> کد پستی خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<div class="personal-item">
		<mat-form-field class=" col-5">
			<mat-label>موبایل:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>stay_current_portrait</mat-icon>
<!--			<mat-hint> موبایل خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
		<mat-form-field class=" col-5">
			<mat-label>ثابت:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>phone</mat-icon>
<!--			<mat-hint> تلفن ثابت خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<div class="personal-item">
		<mat-form-field class="mat-select-design col-5">
			<mat-label>استان:</mat-label>
			<mat-select placeholder="استان را انتخاب کنید">
				<mat-option class="mat-option-design" value="امین عادل">البرز</mat-option>
				<mat-option class="mat-option-design" value="امین عادل">مازندران</mat-option>
				<mat-option class="mat-option-design" value="امین عادل">گلستان</mat-option>
			</mat-select>
      <mat-icon matSuffix>map</mat-icon>
		</mat-form-field>
		<mat-form-field class="mat-select-design col-5">
			<mat-label>شهر:</mat-label>
			<mat-select placeholder="شهر را انتخاب کنید">
				<mat-option class="mat-option-design" value="امین عادل">تهران</mat-option>
				<mat-option class="mat-option-design" value="امین عادل">ساری</mat-option>
				<mat-option class="mat-option-design" value="امین عادل">گرگان</mat-option>
			</mat-select>
      <mat-icon matSuffix>my_location</mat-icon>
		</mat-form-field>
	</div>
	<mat-divider></mat-divider>
	<div class="personal-item">
		<mat-form-field class="col-11">
			<mat-label>آدرس:</mat-label>
			<input matInput placeholder="">
			<mat-icon matSuffix>place</mat-icon>
<!--			<mat-hint> آدرس خود را وارد نمایید</mat-hint>-->
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="accent" mat-dialog-close>افزودن</button>
</div>
