.breadcrumb2 {
	margin-bottom: 30px;
	z-index: 1;
	
	.container-fluid .items {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 10px 0 10px;
		background-color: #f7f7f7;
		box-shadow: 0 1px 3px #aaa;
		border-radius: 5px;
		
		> .item {
			display: flex;
			align-items: center;
			margin-left: 10px;
			margin-bottom: 10px;
			padding: 0 10px;
			height: 36px;
			font-size: 14px;
			border-radius: 5px;
			
			color: #555;
			background-color: #eee;
			
			&:last-child {
				color: #fff;
				background-color: var(--color_orange_500);
			}
		}
		> a.item:hover {
			color: #fff;
			background-color: var(--color_orange_500);
		}
	}
}
