
.mat-mdc-standard-chip {
	--mdc-chip-label-text-color: #fff;
}
.mat-mdc-standard-chip {
	--mdc-chip-with-icon-icon-color: #fff;
}
.mdc-list-item__primary-text {
	color: unset !important;
}
.dashboard-sub{
margin-top: -5px;
}
.mat-divider{
	background-color: #FFFFFF !important;
	margin: 15px !important;
}