.mat-mdc-standard-chip {
	--mdc-chip-label-text-color: #fff;
}

.mat-mdc-standard-chip {
	--mdc-chip-with-icon-icon-color: #fff;
}

.avatar{

	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}


.mat-divider{
	background-color: #aaa !important;
}

