.mat-mdc-standard-chip {
	--mdc-chip-label-text-color: #fff;
}

.mat-mdc-standard-chip {
	--mdc-chip-with-icon-icon-color: #fff;
}

.avatar{
	border-radius: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.title-style{
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
}

.mat-divider{
	background-color: #aaa !important;
}

